<section class="team_member section-padding">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="../yale-template/assets/images/all-img/edebiyat.png" alt="team-image">
					</div>
					<div class="team-content">
						<h3 class="title">Türk Dili ve Edebiyatı</h3>
						<div class="sth_det2">
							<a class="btn_one">Detay gör</a>
						</div>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="../yale-template/assets/images/all-img/lise-mat.png" alt="team-image">
					</div>
					<div class="team-content">
						<h3 class="title">Matematik</h3>
						<div class="sth_det2">
							<a class="btn_one">Detay gör</a>
						</div>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="../yale-template/assets/images/all-img/fizik.png" alt="team-image">
					</div>
					<div class="team-content">
						<h3 class="title">Fizik</h3>
						<div class="sth_det2">
							<a class="btn_one">Detay gör</a>
						</div>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="../yale-template/assets/images/all-img/kimya.png" alt="team-image">
					</div>
					<div class="team-content">
						<h3 class="title">Kimya</h3>
						<div class="sth_det2">
							<a class="btn_one">Detay gör</a>
						</div>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="../yale-template/assets/images/all-img/biyoloji.png" alt="team-image">
					</div>
					<div class="team-content">
						<h3 class="title">Biyoloji</h3>
						<div class="sth_det2">
							<a class="btn_one">Detay gör</a>
						</div>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="../yale-template/assets/images/all-img/tarih.png" alt="team-image">
					</div>
					<div class="team-content">
						<h3 class="title">Tarih</h3>
						<div class="sth_det2">
							<a class="btn_one">Detay gör</a>
						</div>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="../yale-template/assets/images/all-img/cografya.png" alt="team-image">
					</div>
					<div class="team-content">
						<h3 class="title">Coğrafya</h3>
						<div class="sth_det2">
							<a class="btn_one">Detay gör</a>
						</div>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
				<div class="our-team">
					<div class="team_img">
						<img src="../yale-template/assets/images/all-img/ingilizce.png" alt="team-image">
					</div>
					<div class="team-content">
						<h3 class="title">İngilizce</h3>
						<div class="sth_det2">
							<a class="btn_one">Detay gör</a>
						</div>
					</div>
				</div>
			</div><!--- END COL -->
		</div><!-- END ROW -->
	</div><!-- END CONTAINER -->
</section>
