<section class="marketing_content_area section-padding">
	<div class="container">
		<div class="section-title">
			<p>Neden  <span><u>Ünlü Online Akademi</u></span> ?</p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
				<div class="single_feature_one">
					<div class="sf_top">
						<span class="ti-book ss_one"></span>
						<h2><a href="single-service.html" target="_blank">Uzman ve Deneyimli Öğretmen Kadrosu</a></h2>
					</div>
					<p>Alanında uzman öğretmenlerle kaliteli eğitim.</p>
				</div>
			</div><!-- END COL -->
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
				<div class="single_feature_one">
					<div class="sf_top">
						<span class="ti-heart ss_two"></span>
						<h2><a href="single-service.html" target="_blank">Esnek ve Kişiselleştirilmiş Öğrenme</a></h2>
					</div>
					<p>Size özel, esnek programlarla öğrenme özgürlüğü.</p>
				</div>
			</div><!-- END COL -->
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
				<div class="single_feature_one">
					<div class="sf_top">
						<span class="ti-user ss_three"></span>
						<h2><a href="single-service.html" target="_blank">Zengin ve Güncel İçerik</a></h2>
					</div>
					<p>Sürekli güncellenen, dolu dolu ve kapsamlı içerikler.</p>
				</div>
			</div><!-- END COL -->
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
				<div class="single_feature_one">
					<div class="sf_top">
						<span class="ti-eye ss_four"></span>
						<h2><a href="single-service.html" target="_blank">Sınav Başarısı Odaklı Yaklaşım</a></h2>
					</div>
					<p>Sınavlarda başarıyı artıran sistemli yöntemler.</p>
				</div>
			</div><!-- END COL -->
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
				<div class="single_feature_one">
					<div class="sf_top">
						<span class="ti-light-bulb ss_five"></span>
						<h2><a href="single-service.html" target="_blank">Etkileşimli ve Canlı Dersler</a></h2>
					</div>
					<p>Aktif katılım sağlayan, öğrenci odaklı interaktif dersler.</p>
				</div>
			</div><!-- END COL -->
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="0">
				<div class="single_feature_one">
					<div class="sf_top">
						<span class="ti-email ss_six"></span>
						<h2><a href="single-service.html" target="_blank">Rehberlik/Eğitim Koçu</a></h2>
					</div>
					<p>Size yol gösterecek eğitim koçluğu desteği.</p>
				</div>
			</div><!-- END COL -->
		</div><!-- END ROW -->
	</div><!-- END CONTAINER -->
</section>
