@model List<WhyUsListDto>
<section class="marketing_content_area section-padding">
    <div class="container">
        <div class="section-title">
            <p>Neden  <span><u>Ünlü Online Akademi</u></span> ?</p>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="single_feature_one">
                        <div class="sf_top">
                            <span class="@item.Icon"></span>
                            <h2><a href="single-service.html" target="_blank">@item.Title</a></h2>
                        </div>
                        <p>@item.Desc</p>
                    </div>
                </div>
                <!-- END COL -->
            }
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
