<div id="contact" class="contact_area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
				<div class="section-title-two">
					<h2>Bizimle İletişime Geçin</h2>
				</div>
				<div class="contact">
					<form class="form" name="enq" method="post" action="contact.php" onsubmit="return validation();">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="">İsim Soyisim</label>
								<input type="text" name="name" class="form-control" required="required">
							</div>
							<div class="form-group col-md-6">
								<label for="">Emai Adresil</label>
								<input type="email" name="email" class="form-control" required="required">
							</div>
							<div class="form-group col-md-12">
								<label for="">Konu</label>
								<input type="text" name="subject" class="form-control" required="required">
							</div>
							<div class="form-group col-md-12">
								<label for="">Mesaj</label>
								<textarea rows="6" name="message" class="form-control" required="required"></textarea>
							</div>
							<div class="col-md-12 text-center">
								<button type="submit" value="Send message" name="submit" id="submitButton" class="btn_one" title="Submit Your Message!">Gönder</button>
							</div>
						</div>
					</form>
				</div>
			</div><!-- END COL  -->
			<div class="col-lg-5 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100135.250723507!2d27.169966127095673!3d38.34373736026237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b96156867558c7%3A0xd2c0cf1972fe1f25!2zQnVjYS_EsHptaXI!5e0!3m2!1str!2str!4v1751292090534!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div><!-- END COL  -->
		</div><!-- END ROW -->
	</div><!--- END CONTAINER -->
</div>
