
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper" style=''>
        @await Component.InvokeAsync("_ContactBreadcrumbComponentPartial")

        <div class="clearfix"></div>
        @await Component.InvokeAsync("_ContactOptionsComponentPartial")

        @await Component.InvokeAsync("_ContactInfosComponentPartial")

    </section>
</section>