@model CreateHomeContactDto


<section class="course_promo section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title-two">
                <h2 style="color:#ff0000; text-align:center">Bize Ulaşın</h2>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="border-radius:10px; border:solid 4px #fff; padding-top: 50px;">
                <div class="contact">
                    <form class="form" id="contactForm" method="post" asp-action="Index" asp-controller="Home">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label style="color:white" for="">İsim</label>
                                <input type="text" class="form-control" required="required" asp-for="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label style="color:white" for="">Soyisim</label>
                                <input type="text" class="form-control" required="required" asp-for="Surname">
                            </div>
                            <div class="form-group col-md-12">
                                <label style="color:white" for="">Email Adresi</label>
                                <input type="email" class="form-control" required="required" asp-for="EmailAddress">
                            </div>
                            <div class="form-group col-md-12">
                                <label style="color:white" for="">Konu</label>
                                <input type="text" class="form-control" required="required" asp-for="Topic">
                            </div>
                            <div class="form-group col-md-12">
                                <label style="color:white" for="">Mesajınız</label>
                                <textarea rows="6" class="form-control" required="required" asp-for="Message"></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn_one">Gönder</button>
                            </div>
                        </div>
                    </form>
                    <div id="contactResult" style="margin-top:1rem;"></div>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                <div class="cp_img">
                    <img src="../yale-template/assets/images/all-img/home-contact.png" class="img-fluid" alt="image">
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>