<section class="course_promo section-padding">
    <div class="container">
        <div class="row">
            <div class="section-title-two">
                <h2 style="color:#ff0000; text-align:center">Bize Ulaşın</h2>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="border-radius:10px; border:solid 4px #fff; padding-top: 50px;">
                <div class="contact">
                    <form class="form" name="enq" method="post" action="contact.php" onsubmit="return validation();">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label style="color:white" for="">İsim Soyisim</label>
                                <input type="text" name="name" class="form-control" required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <label style="color:white" for="">Email Adresi</label>
                                <input type="email" name="email" class="form-control" required="required">
                            </div>
                            <div class="form-group col-md-12">
                                <label style="color:white" for="">Konu</label>
                                <input type="text" name="subject" class="form-control" required="required">
                            </div>
                            <div class="form-group col-md-12">
                                <label style="color:white" for="">Mesajınız</label>
                                <textarea rows="6" name="message" class="form-control" required="required"></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" value="Send message" name="submit" id="submitButton" class="btn_one" title="Submit Your Message!">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                <div class="cp_img">
                    <img src="../yale-template/assets/images/all-img/home-contact.png" class="img-fluid" alt="image">
                    <!-- <div class="wc_year">
                        <h3>20 Years of Experience <br />from 2002</h3>
                    </div> -->
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
