<div class="page-sidebar ">

    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">

        <!-- USER INFO - START -->
        <div class="profile-info row">

            <div class="profile-image col-lg-4 col-md-4 col-4">
                <a href="/Admin/Profile/Index">
                    <img src="~/admin-template/data/profile/profile-blog.jpg" class="img-fluid rounded-circle">
                </a>
            </div>
            <div class="profile-details col-lg-8 col-md-8 col-8">
                <h3>
                    <a href="/Admin/Profile/Index">Mustafa Doğan Ünlü</a>
                    <!-- Available statuses: online, idle, busy, away and offline -->
                    @* <span class="profile-status online"></span> *@
                </h3>
                <p class="profile-title">Admin</p>
            </div>
        </div>
        <!-- USER INFO - END -->
        <ul class='wraplist'>
            <li @* class="open" *@>
                <a href="/Admin/Dashboard/Index">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Home/Index">
                    <i class="fa fa-home"></i>
                    <span class="title">Ana Sayfa</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Blog/Index">
                    <i class="fa fa-edit"></i>
                    <span class="title">Blog</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/AboutUs/Index">
                    <i class="fa fa-user"></i>
                    <span class="title">Hakkımızda</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Courses/Index">
                    <i class="fa fa-book"></i>
                    <span class="title">Derslerimiz</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/SSS/Index">
                    <i class="fa fa-sitemap"></i>
                    <span class="title">S.S.S.</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Contact/Index">
                    <i class="fa fa-phone"></i>
                    <span class="title">İletişim</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Policy/Index">
                    <i class="fa fa-pencil"></i>
                    <span class="title">Politikalar</span>
                </a>
            </li>
            <li class="">
                <a href="/Admin/Profile/Index">
                    <i class="fa fa-gear"></i>
                    <span class="title">Profil Ayarları</span>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <i class="fa fa-power-off"></i>
                    <span class="title">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- MAIN MENU - END -->
</div>
