<div class="col-xl-12">
    <section class="box ">
        <header class="panel_header d-flex justify-content-between align-items-center">
            <h2 class="title float-left" style="display: inline-block; margin-right: 8px;">
                Birlikte Başardık
                <a data-toggle="modal" href="#ModalAchievements" title="Düzenle">
                    <i class="fa fa-pencil text-warning" style="margin-left: 5px; font-size:20px; vertical-align: middle;"></i>
                </a>

                <!-- modal start -->
                <div class="modal fade" id="ModalAchievements" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Başlık Düzenleme</h4><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="field-1" class="control-label">Başlık</label>
                                            <input type="text" class="form-control" id="field-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-success" href="#">Kaydet</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal end -->

            </h2>
            <span class="text-muted small">
                Maximum 3 tane girilmelidir! Daha fazla girildiğinde son 3 tanesi sitede görüntülenecektir.
            </span>
        </header>

        <div class="content-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th style="text-align: left;">Başarı Açıklaması</th>
                                <th style="text-align: left;">Rakam</th>
                                <th style="text-align: right;">Aktiflik</th>
                                <th style="text-align: right;">Düzenle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td style="text-align: left;">Mark</td>
                                <td style="text-align: left;">25</td>
                                <td style="text-align: right;">
                                    <label class="switch">
                                        <input type="checkbox" checked> <!-- checked: aktif -->
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td style="text-align: right;"><a href="/Admin/Home/EditAchievements"><i style="font-size: 20px !important;" class="fa fa-pencil text-warning"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
