<section class="ab_one section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
				<div class="ab_img">
					<img src="../yale-template/assets/images/all-img/about-us.png" class="img-fluid" alt="image">
				</div>
			</div><!--- END COL -->
			<div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
				<div class="ab_content">
					<p>
						<strong>Ünlü Online Akademi</strong>, çağdaş ve erişilebilir dijital eğitim anlayışıyla yola çıkan, öğrenci başarısını merkeze alan yenilikçi bir <strong>e-öğrenme platformudur</strong>. Amacımız, her öğrencinin kendi öğrenme stiline uygun, kaliteli ve etkili eğitim içeriğine kolayca ulaşmasını sağlamaktır.
						Kurumumuz, teknolojiyi eğitimin hizmetine sunarak, öğrencilerin bilgiye ulaşma sürecini daha özgür, daha esnek ve daha verimli hale getirir. Geleneksel eğitim sınırlarını ortadan kaldırarak; her yerden, her cihazdan ve her zaman öğrenmeyi mümkün kılar.
					</p>

					<h5>Vizyonumuz</h5>
					<p>
						Eğitime erişimde fırsat eşitliği sunarak, öğrencilerin yalnızca sınavlara değil, hayata da hazırlanmasını sağlamak. Türkiye’nin dört bir yanındaki öğrencilerin potansiyellerini keşfetmelerine ve en yüksek başarıya ulaşmalarına yardımcı olmak.
					</p>

					<h5>Misyonumuz</h5>
					<p>
						Deneyimli öğretmen kadromuz, zengin dijital içeriklerimiz, sınavlara hazırlık programlarımız ve birebir destek hizmetlerimizle öğrencilerimize <strong>kapsamlı ve kişiselleştirilmiş bir öğrenme deneyimi</strong> sunmak. Her öğrencinin ihtiyaç duyduğu akademik desteği zamanında ve doğru yöntemle sağlamayı hedefliyoruz.
					</p>

					<h5>Biz Neler Sunuyoruz?</h5>
					<ul>
						<li>*Ortaokul ve lise düzeyinde müfredata uygun video dersler</li>
						<li>*LGS ve YKS hazırlık programları</li>
						<li>*Birebir özel ders ve mentorluk desteği</li>
						<li>*WhatsApp grupları üzerinden aktif öğretmen-öğrenci etkileşimi</li>
						<li>*Düzenli ödev, test ve deneme sınavları ile öğrenmenin pekiştirilmesi</li>
					</ul>
					</br>
					<p>
						<strong>Ünlü Online Akademi</strong> olarak, sadece ders anlatmıyor; öğrencilerimizin akademik yolculuklarında <em>yanlarında yürüyen bir rehber</em> oluyoruz. Eğitimde kaliteye, öğrenci başarısına ve sürekli gelişime inanıyoruz.
					</p>
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</section>
