@model List<AboutUsByIdDto>

<section class="ab_one section-padding">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                    <div class="ab_img">
                        <img src="@item.Image" class="img-fluid" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                    <div class="ab_content">
                        @Html.Raw(item.Desc)
                    </div>
                </div>
            }
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>