<section class="ab_one section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                <div class="ab_content">
                    <h2 style="color:#ff0000; text-decoration:underline;">Neden  Ünlü Online Akademi ?</h2>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 abmv">
                <span class="ti-medall"></span>
                <h5>Uzman ve Deneyimli Öğretmen Kadrosu</h5>
                <p>Alanında uzman öğretmenlerle kaliteli eğitim.</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 abmv">
                <span class="ti-wand"></span>
                <h5>Esnek ve Kişiselleştirilmiş Öğrenme</h5>
                <p>Size özel, esnek programlarla öğrenme özgürlüğü.</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 abmv">
                <span class="ti-book"></span>
                <h5>Zengin ve Güncel İçerik</h5>
                <p>Sürekli güncellenen, kapsamlı içerikler.</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 abmv">
                <span class="ti-crown"></span>
                <h5>Sınav Başarısı Odaklı Yaklaşım</h5>
                <p>Sınavlarda başarıyı artıran sistemli yöntemler.</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 abmv">
                <span class="ti-comments"></span>
                <h5>Etkileşimli ve Canlı Dersler</h5>
                <p>Aktif katılım sağlayan interaktif dersler.</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 abmv">
                <span class="ti-user"></span>
                <h5>Rehberlik/Eğitim Koçu</h5>
                <p>Size yol gösterecek eğitim koçluğu desteği.</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 abmv">
                <span class="ti-announcement"></span>
                <h5>Veli Bilgilendirme Sistemi</h5>
                <p>Velilere düzenli bilgi akışı sağlayan sistem.</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 abmv">
                <span class="ti-heart"></span>
                <h5>%100 Öğrenci Memnuniyeti</h5>
                <p>Memnuniyet garantili, öğrenci odaklı yaklaşım.</p>
            </div>
        </div>
    </div>
</section>
