@model PoliciesByIdDto
<section class="blog-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12 col-xs-12">
                <div class="arti_single">
                    <div class="arti_content ">
                        <section>
                          @Html.Raw(@Model.Desc)
                        </section>
                    </div>
                </div><!-- END ARTI SINGLE  -->
            </div><!-- END COL-->
            <div class="col-lg-3 col-sm-12 col-xs-12">
                <div class="sidebar-post">
                    <div class="single_popular">
                        <h5><a href="/Policy/KVKK">KVKK</a></h5>
                    </div><!-- END SINGLE POPULAR POST -->
                    <div class="single_popular">
                        <h5><a href="/Policy/InformationSecurityPolicy">Çerez Politikası</a></h5>
                    </div><!-- END SINGLE POPULAR POST -->
                </div><!-- END SIDEBAR POST -->
            </div><!--- END COL -->
        </div><!-- END ROW-->
    </div><!-- END CONTAINER-->
</section>
