@model UnluOnlineAkademi.UI.DTOs.HomeHeaderDto.UpdateHomeHeaderDto
@{
    // ViewData["Title"] = "EditHeader";
    // Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Header Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- STYLESHEETS -->
<link href="~/admin-template/assets/plugins/datepicker/css/datepicker.css" rel="stylesheet" type="text/css" media="screen" />

<section id="main-content">
    <section class="wrapper main-wrapper">

        <div class="col-12">
            <div class="page-title">
                <div class="float-left">
                    <h1 class="title">Header Düzenle</h1>
                </div>
                <div class="float-right">
                    <ol class="breadcrumb">
                        <li><a href="/Admin/Dashboard/Index"><i class="fa fa-home"></i> Dashboard</a></li>
                        <li><a href="/Admin/Home/Index"> /Ana Sayfa</a></li>
                        <li class="active"><strong> /Header Düzenle</strong></li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>


        <div class="col-12">
            <section class="box">
                <header class="panel_header">
                    <h2 class="title float-left">Header</h2>
                </header>
                <div class="content-body">
                    <div class="row">
                        <form asp-action="EditHeader" asp-controller="Home" asp-area="Admin" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="ID" value="@Model.ID" />

                            <div class="form-group">
                                <label>Görsel Seç (Yeniden yüklemek istersen)</label>
                                <input type="file" name="imageFile" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label>Slogan</label>
                                <textarea class="ckeditor" name="Slogan">@Model.Slogan</textarea>
                            </div>

                            <div class="form-group">
                                <label>Açıklama</label>
                                <input type="text" name="Desc" class="form-control" value="@Model.Desc" />
                            </div>
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </form>
                    </div>

                </div>
            </section>
        </div>
    </section>
</section>

<!-- JS SCRIPTS -->
<script src="~/admin-template/assets/plugins/datepicker/js/datepicker.js"></script>
<script src="~/admin-template/assets/plugins/autosize/autosize.min.js"></script>
<script src="~/admin-template/assets/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/admin-template/assets/plugins/ckeditor/ckeditor.js"></script>
