@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper" style=''>

        @await Component.InvokeAsync("_HomeBreadcrumbComponentPartial")
      
        <div class="clearfix"></div>

        @await Component.InvokeAsync("_HomeHeaderComponentPartial")

        @await Component.InvokeAsync("_HomeWhyUsComponentPartial")

        @await Component.InvokeAsync("_HomeEducationalContentsComponentPartial")

        @await Component.InvokeAsync("_HomeStudentTestimonialsComponentPartial")

        @await Component.InvokeAsync("_HomeAchievementsComponentPartial")

    </section>
</section>