<section class="address_area">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-6 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
				<div class="single_address sa_two">
					<i class="ti-mobile"></i>
					<h4>Telefon</h4>
					<p>0505 055 5850 - 0530 305 2912</p>
				</div>
			</div><!-- END COL -->
			<div class="col-lg-6 col-sm-4 col-xs-12 no-padding wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
				<div class="single_address sa_three">
					<i class="ti-email"></i>
					<h4>Email</h4>
					<p>
						unluonlineakademi@gmail.com
					</p>
				</div>
			</div><!-- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</section>
