@model List<AchievementsListDto>
<section id="counts" class="counts section-padding">
    <div class="container count_bg" data-aos="fade-up">
        <div class="section-title">
            <h2>BAŞARILARIMIZ</h2>
            <p>Birlikte <span><u>Başardık</u></span></p>
        </div>
        <div class="row gy-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="count-box">
                        <i class="@item.Icon" style="color: #11312c;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="@item.Number" data-purecounter-duration="1" class="purecounter"></span>
                            <p>@item.Title</p>
                        </div>
                    </div>
                </div>
                <!--- END COL -->
            }
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>