<section id="blog" class="blog_area section-padding">
    <div class="container">
        <div class="section-title">
            <h2>Blog</h2>
            <p>Popüler Bloglar</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_blog">
                    <img src="../yale-template/assets/images/all-img/blog1.png" class="img-fluid" alt="image" />
                    <div class="content_box">
                        <span>15 Mayıs 2025 | </span>
                        <h2><a href="/Blog/Blog1">Eğitimde Yeni Bir Dönem: Türkiye'nin Maarif Modeli Geliyor!</a></h2>
                        <a href="/Blog/Blog1" class="cta">
                            <span>Devamını Oku</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div><!-- END COL-->
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_blog">
                    <img src="../yale-template/assets/images/all-img/blog2.png" class="img-fluid" alt="image" />
                    <div class="content_box">
                        <span>2 Haziran 2025 | </span>
                        <h2><a href="/Blog/Blog2">YKS 2025 : Geleceğe Giden Yolculuğun Kapısı Aralanıyor!</a></h2>
                        <a href="/Blog/Blog2" class="cta">
                            <span>Devamını Oku</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div><!-- END COL-->
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                <div class="single_blog">
                    <img src="../yale-template/assets/images/all-img/blog3.png" class="img-fluid" alt="image" />
                    <div class="content_box">
                        <span>20 Haziran 2025 | </span>
                        <h2><a href="/Blog/Blog3">LGS 2025 Sonuçları ve Tercih Dönemi: Heyecanlı Bekleyiş Başlıyor! </a></h2>
                        <a href="/Blog/Blog3" class="cta">
                            <span>Devamını Oku</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div><!-- END COL-->
        </div><!-- / END ROW -->
    </div><!-- END CONTAINER  -->
</section>
