<section class="topic_content_p2 section-padding">
    <div class="container">
        <div class="section-title">
            <h2>DERSLERİMİZ </h2>
            <p>Ortaokul Dersleri</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_one">
                    <img src="../yale-template/assets/images/icon/ct1.svg" alt="" />
                    <h2><a href="#">Türkçe</a></h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_two">
                    <img src="../yale-template/assets/images/icon/ct2.svg" alt="" />
                    <h2><a href="#">Matematik</a></h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_three">
                    <img src="../yale-template/assets/images/icon/ct3.svg" alt="" />
                    <h2><a href="#">Fen Bilimleri</a></h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_four">
                    <img src="../yale-template/assets/images/icon/ct4.svg" alt="" />
                    <h2>
                        <a href="#">TC İnkılap</a>
                    </h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_five">
                    <img src="../yale-template/assets/images/icon/ct5.svg" alt="" />
                    <h2><a href="#">İngilizce</a></h2>
                </div>
            </div><!-- END COL -->
            <!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->

    <div class="container">
        <div class="section-title">
            <p>Lise Dersleri</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_one">
                    <img src="../yale-template/assets/images/icon/ct1.svg" alt="" />
                    <h2><a href="#">Türk Dili ve Edebiyatı</a></h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_two">
                    <img src="../yale-template/assets/images/icon/ct2.svg" alt="" />
                    <h2><a href="#">Matematik</a></h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_three">
                    <img src="../yale-template/assets/images/icon/ct3.svg" alt="" />
                    <h2><a href="#">Fizik</a></h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_four">
                    <img src="../yale-template/assets/images/icon/ct4.svg" alt="" />
                    <h2>
                        <a href="#">Kimya</a>
                    </h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_five">
                    <img src="../yale-template/assets/images/icon/ct5.svg" alt="" />
                    <h2><a href="#">Biyoloji</a></h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_one">
                    <img src="../yale-template/assets/images/icon/ct5.svg" alt="" />
                    <h2><a href="#">Tarih</a></h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_two">
                    <img src="../yale-template/assets/images/icon/ct5.svg" alt="" />
                    <h2><a href="#">Coğrafya</a></h2>
                </div>
            </div><!-- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_tca sc_three">
                    <img src="../yale-template/assets/images/icon/ct5.svg" alt="" />
                    <h2><a href="#">İngilizce</a></h2>
                </div>
            </div><!-- END COL -->
            <!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->

</section>
