@model List<HomeHeaderDto>

@{
    int counter = 1;
}

<div class="col-xl-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title float-left">Header</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th style="text-align: left;">Görsel</th>
                                <th style="text-align: left;">Slogan</th>
                                <th style="text-align: left;">Açıklama</th>
                                <th style="text-align: right;">Düzenle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td style="text-align: left;"><img style="width:30px;" src="@item.CoverImage" /></td>
                                    <td style="text-align: left;">@Html.Raw(item.Slogan)</td>
                                    <td style="text-align: left;">@item.Desc</td>
                                    <td style="text-align: right;"><a href="/Admin/Home/EditHeader/@item.ID"><i style="font-size: 20px !important;" class="fa fa-pencil text-warning"></i></a></td>
                                </tr>
                                counter++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>