<section class="blog-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12 col-xs-12">
                <div class="arti_single">
                    <div class="arti_content ">
                        <section>
                            <p><strong>Ünlü Online Akademi</strong> olarak, web sitemizi ziyaret eden kullanıcıların deneyimlerini geliştirmek, site kullanımını analiz etmek ve sizlere daha iyi hizmet sunmak amacıyla çerezler (cookies) kullanmaktayız.</p>
                        </section>

                        <section>
                            <h4>1. Çerez Nedir?</h4>
                            <p>Çerezler, bir internet sitesini ziyaret ettiğinizde tarayıcınız aracılığıyla cihazınıza (bilgisayar, tablet, telefon vb.) kaydedilen küçük metin dosyalarıdır. Bu dosyalar, site tercihlerinizin ve işlemlerinizin hatırlanmasını sağlar.</p>
                        </section>

                        <section>
                            <h4>2. Hangi Tür Çerezleri Kullanıyoruz?</h4>
                            <ul>
                                <li><strong>Gerekli Çerezler:</strong> Web sitemizin doğru çalışması için zorunlu olan çerezlerdir. Bu çerezler olmadan bazı temel işlevler kullanılamaz.</li>
                                <li><strong>Analitik Çerezler:</strong> Sitemizin performansını ölçmek, ziyaretçi sayısını ve kullanıcı davranışlarını analiz etmek amacıyla kullanılır.</li>
                                <li><strong>Tercih Çerezleri:</strong> Dil seçimi veya oturum bilgisi gibi kullanıcı tercihlerinizi hatırlamak için kullanılır.</li>
                            </ul>
                        </section>

                        <section>
                            <h4>3. Çerezlerin Kullanım Amaçları</h4>
                            <p>Toplanan çerezler aşağıdaki amaçlarla kullanılabilir:</p>
                            <ul>
                                <li>Site güvenliğini sağlamak</li>
                                <li>Kullanıcı deneyimini geliştirmek</li>
                                <li>İstatistiksel analizler yapmak</li>
                                <li>Hataları tespit etmek ve gidermek</li>
                            </ul>
                        </section>

                        <section>
                            <h4>4. Çerezleri Nasıl Kontrol Edebilirsiniz?</h4>
                            <p>Tarayıcı ayarlarınızı değiştirerek çerezleri engelleyebilir veya silinmesini sağlayabilirsiniz. Ancak çerezleri devre dışı bırakmanız halinde bazı site işlevlerinin düzgün çalışmayabileceğini unutmayınız.</p>
                            <p>Tarayıcınıza göre çerez ayarları:</p>
                            <ul>
                                <li><a href="https://support.google.com/chrome/answer/95647?hl=tr" target="_blank">Google Chrome</a></li>
                                <li><a href="https://support.mozilla.org/tr/kb/cerezleri-silme-web-sitelerinin-bilgilerini-kaldirma" target="_blank">Mozilla Firefox</a></li>
                                <li><a href="https://support.apple.com/tr-tr/HT201265" target="_blank">Safari</a></li>
                                <li><a href="https://support.microsoft.com/tr-tr/topic/windows-10-da-cookies-çerezleri-silme-ve-yönetme-0e94b0f6-1c30-80cf-07cb-b84b7f24a795" target="_blank">Microsoft Edge</a></li>
                            </ul>
                        </section>

                        <section>
                            <h4>5. Üçüncü Taraf Çerezler</h4>
                            <p>Web sitemiz, Google Analytics gibi hizmet sağlayıcıların çerezlerini kullanabilir. Bu çerezler, sitemizin kullanım istatistiklerini anlamamıza yardımcı olur. Üçüncü taraf sağlayıcıların çerez politikaları için ilgili siteleri ziyaret edebilirsiniz.</p>
                        </section>

                        <section>
                            <h4>6. Güncellemeler</h4>
                            <p>Bu çerez politikası zaman zaman güncellenebilir. Güncel sürüm her zaman web sitemizde yayımlanacaktır.</p>
                        </section>

                        <section>
                            <h4>7. İletişim</h4>
                            <p>Çerez Politikamız hakkında daha fazla bilgi almak için bizimle iletişime geçebilirsiniz:</p>
                            <p>
                                <strong>E-posta:</strong> unluonlineakademi@gmail.com<br>
                                <strong>Web Sitesi:</strong> www.unluonlineakademi.com<br />
                                <strong>Telefon Numaraları:</strong> 0505 055 5850 -  0505 055 5850
                            </p>
                        </section>
                    </div>
                </div><!-- END ARTI SINGLE  -->
            </div><!-- END COL-->
            <div class="col-lg-3 col-sm-12 col-xs-12">
                <div class="sidebar-post">
                    <div class="single_popular">
                        <h5><a href="/Policy/KVKK">KVKK</a></h5>
                    </div><!-- END SINGLE POPULAR POST -->
                    <div class="single_popular">
                        <h5><a href="/Policy/InformationSecurityPolicy">Bilgi Güvenliği Politikası</a></h5>
                    </div><!-- END SINGLE POPULAR POST -->
                </div><!-- END SIDEBAR POST -->
            </div><!--- END COL -->
        </div><!-- END ROW-->
    </div><!-- END CONTAINER-->
</section>
