<div class="col-xl-12">
    <section class="box nobox">
        <div class="content-body">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="r4_counter db_box">
                        <i class='float-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
                        <div class="stats">
                            <h4><strong>450K</strong></h4>
                            <span>Blog</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="r4_counter db_box">
                        <i class='float-left fa fa-book icon-md icon-rounded icon-purple'></i>
                        <div class="stats">
                            <h4><strong>90</strong></h4>
                            <span>Ders</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="r4_counter db_box">
                        <i class='float-left fa fa-envelope icon-md icon-rounded icon-orange'></i>
                        <div class="stats">
                            <h4><strong>6243</strong></h4>
                            <span>Mesaj</span>
                        </div>
                    </div>
                </div>
            </div> <!-- End .row -->
        </div>
    </section>
</div>