<div id="navigation" class="fixed-top navbar-light bg-faded site-navigation">
    <div class="container top_menu_bg">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="site-logo">
                    <a href="/"><img src="../yale-template/assets/images/all-img/unlu-logo.png" alt=""></a>
                </div>
            </div><!--- END Col -->

            <div class="col-lg-8 col-md-9 col-sm-8 ">
                <div class="header_right ">
                    <nav id="main-menu" class="ms-auto">
                        <ul>
                            <li>
                                <a class="nav-link" href="/">Ana Sayfa</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/AboutUs/Index">Hakkımızda</a>
                            </li>
                            <li>
                                <a class="nav-link">Derslerimiz<span class="ti-angle-down"></span></a>
                                <ul>
                                    <li><a class="nav-link" href="/Courses/MiddleSchoolCourses">Ortaokul Dersleri</a></li>
                                    <li><a class="nav-link" href="/Courses/HighSchoolCourses">Lise Dersleri</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" href="/Blog/Index">Blog</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/SSS/Index">S.S.S.</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/Contact/Index">İletişim</a>
                            </li>
                        </ul>
                    </nav>
                    <div id="mobile_menu"></div>
                </div>
            </div><!--- END Col -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</div>
