<div class='page-topbar '>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <div class='float-left'>
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap list-inline-item">
                    <a class="btn btn-info" href="/Home/Index" target="_blank"><i class="fa fa-solid fa-paper-plane"></i> Siteye Git</a>
                </li>
            </ul>
        </div>
        <div class='float-right'>
        </div>
    </div>

</div>