<div class="footer section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_footer">
                    <a href="index.html"><img src="assets/images/all-img/logo.png" alt=""></a>
                    <p>Ünlü Online Akademi, uzman kadrosu ve kaliteli içerikleriyle her öğrencinin yanında. Geleceğinize birlikte yön veriyoruz.</p>
                </div>
                <div class="foot_social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" title="Facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" title="Twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" title="Instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" title="LinkedIn"></i></a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_footer">
                    <h4>Kullanıcı İşlemleri</h4>
                    <ul>
                        <li><a href="/">Ana Sayfa</a></li>
                        <li><a href="/Courses/MiddleSchoolCourses">İlkokul Dersleri</a></li>
                        <li><a href="/Courses/HighSchoolCourses">Ortaokul Dersleri</a></li>
                        <li><a href="/Blog/Index">Blog</a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_footer">
                    <h4>Kurumsal</h4>
                    <ul>
                        <li><a href="/AboutUs/Index">Hakkımızda</a></li>
                        <li><a href="/Contact/Index">İletişim</a></li>
                        <li><a href="/SSS/Index">Sıkça Soruan Sorular</a></li>

                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_footer">
                    <h4>İletişim Bilgileri</h4>
                    <div class="sf_contact">
                        <span class="ti-mobile"></span>
                        <h3>Telefon Numaralarımız</h3>
                        <p>
                            0505 055 5850
                            </br>0505 055 5850
                        </p>
                    </div>
                    <div class="sf_contact">
                        <span class="ti-email"></span>
                        <h3>Email Adresi</h3>
                        <p>unluonlineakademi@gmail.com</p>
                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
        <div class="row fc">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="footer_copyright">
                    <p>&copy; 2022. Tüm Hakları Saklıdır.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="footer_menu">
                    <ul>
                        <li><a href="/Policy/KVKK">KVKK</a></li>
                        <li><a href="/Policy/CookiePolicy">Çerez Politikası</a></li>
                        <li><a href="/Policy/InformationSecurityPolicy">Bilgi Güvenliği Politikası</a></li>
                    </ul>
                </div>
            </div><!-- END COL -->
        </div>
    </div><!--- END CONTAINER -->
</div>
